body {
    font-family: monospace;
    color: #fff;
}

.calculator {
    height: 300px;
    width: 235px;
    margin: auto;
    border: 6px solid #5a5858;
    border-radius: 5px;
    background: #808186;
}

.display {
    height: 35px;
    font-size: 1.5em;
}

.calculator td {
    padding-left: 25px;
    text-align: center;
    border: 0.5px solid black;
    border-radius: 5px
}

.number {
    background: #fff;
    color: firebrick
}

.operator, .equals {
    background: firebrick;
    
}

.clear {
    background: black;
}
/*
.calculator td:active {
    border: 3px solid green;
}
*/
/*
.numbers {
    float: left;
}

.operators {
    float: right;
}
*/